Repository ARMmbed/stm32customtargets, pull requests merged in 2021-07, with the labels that each got.

#11 NEW targets: MTB_MURATA_ABZ
  README.md
  TARGET_STM32L0/CMakeLists.txt
  TARGET_STM32L0/TARGET_MTB_MURATA_ABZ/CMakeLists.txt
  TARGET_STM32L0/TARGET_MTB_MURATA_ABZ/PeripheralPins.c
  TARGET_STM32L0/TARGET_MTB_MURATA_ABZ/PinNames.h
  TARGET_STM32L0/TARGET_MTB_MURATA_ABZ/system_clock.c
  custom_targets.json
Labels: LORA, STM32L0

#15 add new boards and documentation
  README.md
  TARGET_STM32WL/CMakeLists.txt
  TARGET_STM32WL/TARGET_LORA_E5_DEV_BOARD/CMakeLists.txt
  TARGET_STM32WL/TARGET_LORA_E5_MINI/CMakeLists.txt
  TARGET_STM32WL/TARGET_RAK3172/CMakeLists.txt
  TARGET_STM32WL/TARGET_RAK3172/PinNames.h
  TARGET_STM32WL/TARGET_RAK3172/RAK3172_radio_driver.cpp
  custom_targets.json
Labels: LORA, STM32WL

#12 CORE2 target added
  README.md
  TARGET_STM32F4/CMakeLists.txt
  TARGET_STM32F4/TARGET_CORE2/CMakeLists.txt
  TARGET_STM32F4/TARGET_CORE2/PeripheralPinMaps.h
  TARGET_STM32F4/TARGET_CORE2/PeripheralPins.c
  TARGET_STM32F4/TARGET_CORE2/PinNames.h
  TARGET_STM32F4/TARGET_CORE2/system_clock.c
  custom_targets.json
Labels: STM32F4
